.spec-list {
  // display: flex;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.spec-list__item {
  // width: 270px;
  // width: 100%;
  padding: 0;

  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
  }

  &::before {
    margin-bottom: 30px;
  }

  &:nth-child(1):before {
    display: block;
    content: "";
    background-image: url(../imgs/attention-detail.svg);
    // width: 270px;
    width: 450px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and(min-width: 768px) {
      width: 354px;
    }
  }

  &:nth-child(2):before {
    display: block;
    content: "";
    background-image: url(../imgs/punctuality.svg);
    width: 450px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and(min-width: 768px) {
      width: 354px;
    }
  }

  &:nth-child(3):before {
    display: block;
    content: "";
    background-image: url(../imgs/planning.svg);
    width: 450px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and(min-width: 768px) {
      width: 354px;
    }
  }

  &:nth-child(4):before {
    display: block;
    content: "";
    background-image: url(../imgs/modern-tech.svg);
    width: 450px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and(min-width: 768px) {
      width: 354px;
    }
  }

  @media screen and(min-width: 768px) {
    width: 354px;
  }
}

.spec-list__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.spec-list__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  text-align: center;
  @media screen and(min-width: 768px) {
    text-align: left;
  }
}
