.work-container {
  @media screen and(max-width:1199px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  width: 370px;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
