.section-title {
  // margin-bottom: 50px;
  margin-bottom: 30px;
  margin-top: 0;

  text-align: center;

  color: var(--title-text-color);
  font-weight: 700;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  // font-size: 36px;
  // line-height: 1.67;
  // text-align: center;
}
